@import '../variables';

.chat {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        margin-bottom: 10px;
        padding-bottom: 5px;

        .chat-body {
            display: flex;
            flex-direction: column-reverse;
            align-items: flex-end;
            margin: 0 10px;
            padding: 0 3px;
            width: fit-content;

            .header.left {
                align-self: baseline;
            }

            p {
                margin: 0;
                color: black;
                min-width: 100px;
                border-radius: 3px;
                padding: 3px;
            }

            p.left {
                background-color: bisque;
            }
            p.right {
                background-color: #92ced2;
            }

            .arrow_say {
                width: 0;
                height: 0;
                border-style: solid;
            }

            .arrow_say.left {
                align-self: baseline;
                margin-left: 3px;
                border-color: bisque transparent transparent transparent;
                border-width: 7px 7px 0 3px;
            }

            .arrow_say.right {
                align-self: flex-end;
                margin-right: 3px;
                border-color: #92ced2 transparent transparent transparent;
                border-width: 7px 3px 0 7px;
            }
        }

        .chat-body.right {
            float: right;
        }
    }
}

.panel {
    &-heading {
        color: brown;
        font-size: 2em;
        font-weight: 600;
        text-align: center;
        margin-bottom: 5px;
        letter-spacing: 5px;
    }

    &-body {
        border: 1px solid grey;
        padding: 5px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;

        .stb {
            height: 350px;
        }
    }

    &-footer {
        padding: 10px;

        input:focus, input:active {
            outline: none;
            box-shadow: inset 0 -1px 0 #ddd;
        }

        button {
            height: 100%;
        }
    }
}
